.footer{
    width: 57%;
    height: 5vh;
    background-color: #9BA4B5;
    color: #212A3E;
    padding-top: 10px;
    padding-left: 43%;
}

@media only screen and (max-width: 600px) {
    .footer {
        width: 100%;
        padding-left: 25%;
    }
  }